<table class='table' *ngIf="composers">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Full Name</th>
            <th>Awards</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let composer of composers">
            <td>{{ composer.id }}</td>
            <td>{{ composer.title }}</td>
            <td>{{ composer.firstName }} {{ composer.lastName }}</td>
            <td>{{ composer.awards }}</td>
        </tr>
    </tbody>
</table>
<router-outlet></router-outlet>
